body{
  background-color:  rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  margin-top: 50px;
  margin-left: 500px;
}
h1{
  color:aquamarine;
}
.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border : 3px solid white; 
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top : 50px;
}
.score{
  margin-top: 60px;
}

.js-auto-play-button,
.reset-score-button,
.reset-confirm-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.reset-confirm-button{
  margin-left: 10px;
}

.js-reset-confirmation{
  color: white;
  width: 460px;
  border-color:black;
  padding: 5px;
}

.js-reset-confirm-yes,
.js-reset-confirm-no{
  background-color: rgb(133, 118, 19);
  border-style: solid;
  font-weight: bold;
  border-color:aquamarine;
}

@media screen and (max-width: 912px){
  h1, .title{
    font-size: 10px;
  }
  
  .move-icon{
    height: 20px;
  }

  
  .move-button{
    background-color: transparent;
    border : 3px solid white; 
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

  body{
    display : inline-block;
  }
}